@model TeacherViewModel

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form enctype="multipart/form-data" asp-action="Create">
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Імя</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SecondName" class="control-label">Фамілія</label>
                    <input asp-for="SecondName" class="form-control" />
                    <span asp-validation-for="SecondName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Salary" class="control-label">Зарплата</label>
                    <input asp-for="Salary" class="form-control" />
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SectionId" class="control-label">Секція</label>
                    <select asp-for="SectionId" asp-items="@(new SelectList(Model.Sections, "Id", "Name"))" class="form-control">Виберіть</select>
                    <span asp-validation-for="SectionId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="YearsOfExperience">Стаж роботи</label>
                    <input asp-for="YearsOfExperience" class="form-control" />
                    <span asp-validation-for="YearsOfExperience"></span>
                </div>

                <div class="form-group row">
                    <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="Photo" class="form-control custom-file-input">
                            <label class="custom-file-label">Choose File...</label>
                            <span asp-validation-for="Photo"></span>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-success">Додати</button>
                @section Scripts{
                    <script>
                        $(document).ready(function () {
                            $('.custom-file-input').on("change", function () {
                                var fileName = $(this).val().split("\\").pop();
                                $(this).next('.custom-file-label').html(fileName);
                            });
                        });
                    </script>
                }
            </form>
        </div>
    </div>
</div>

