<div class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="navbar-header">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">Спортшкола</a>
    </div>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-action="DepartmentList" asp-controller="Service">Послуги</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Index" asp-controller="Teacher">Викладачі</a>
            </li>
        </ul>
    </div>
</div>
